.signup-box{
    margin-left: 15%;
    margin-right: 15%;
    background-color: cadetblue;
   
}

@media only screen and (max-width: 510px){
    .signup-box{
        margin-left: 0%;
        margin-right: 0%;
        
    }
}