.productdet-container{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}


.det{
    margin: 10px;
}


@media only screen and (max-width: 750px){
    
    .productdet-container{
        display: grid;
        grid-template-columns: 100%;
    }

}